.Admin {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*align-items: center;*/
    color:  rgba(166, 62, 100);
}

.AdminBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid #d46282;
    width: 600px;
    height: auto;
    background-color: rgba(220, 188, 202, 0.3);
    align-items: center;
    box-shadow: 2px 5px 50px #a63e64;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.AdminBox:hover {
    transform: translateY(-10px);
    box-shadow: 2px 10px 60px rgba(214, 98, 130, 0.7);
}

.AdminBox input {
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #d46282;
    background: linear-gradient(135deg, rgba(255,255,255,0.9), rgba(245,245,245,0.6));
    color: #d46282;
    padding: 5px 15px;
    outline: none;

    box-shadow: 0 0 8px rgba(162, 66, 100, 0.6);

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.AdminBox input:focus {
    border-color: #d46282;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    transform: scale(1.03);
}

.AdminBox button {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    /*border: 2px solid rgba(245,245,245);*/
    border: 1px solid #d46282;
    background: linear-gradient(135deg, rgba(255,255,255,0.9), rgba(245,245,245,0.6));
    box-shadow: 0 0 8px rgba(162, 66, 100, 0.6);
    color: #d46282;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}

/* تأثير عند المرور على الزر */
.AdminBox button:hover {
    background: linear-gradient(135deg, #ff6f91, #d46282);
    transform: translateY(-5px);
    box-shadow: 2px 10px 20px rgba(255, 111, 145, 0.7);
    color: white;
}

/* الأيقونات */
.socials img {
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
    border: 1px solid #d46282;
}

/* تأثير على الأيقونات عند المرور */
.socials img:hover {
    transform: translateY(-8px) scale(1.1);
    background: linear-gradient(135deg, #ff6f91, #d46282);
    box-shadow: 0px 8px 20px rgba(255, 111, 145, 0.6);
}
