.ContactSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 80px 100px;
    background: linear-gradient(135deg, #fde1df, #f7c7cf, #f3b1bb);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(166, 62, 100, 0.3);
    width: 80%;
    margin: 60px auto;
}

.ContactForm {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(166, 62, 100);
}

.ContactForm h2 {
    font-size: 2rem;
    color: #a63e64;
    margin-bottom: 20px;
}

.ContactForm .input-group {
    margin-bottom: 15px;
    position: relative;
}

.ContactForm input,
.ContactForm textarea {
    width: 80%;
    padding: 14px 45px;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(166, 62, 100, 0.2);
    font-size: 1rem;
    color: #4a2f3d;
    outline: none;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(166, 62, 100);
}

.ContactForm input:focus,
.ContactForm textarea:focus {
    box-shadow: 0 0 10px rgba(166, 62, 100, 0.5);
}

.ContactForm textarea {
    height: 120px;
    resize: none;
}

.ContactForm i {
    position: absolute;
    left: 15px;
    top: 16px;
    color: #a63e64;
}

.ContactForm button {
    width: 100%;
    background-color: #a63e64;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: 14px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(166, 62, 100);
}

.ContactForm button:hover {
    background-color: #d46282;
    box-shadow: 0 0 15px rgba(166, 62, 100, 0.4);
}

.ContactAnimation {
    flex: 1;
    text-align: center;
}

.ContactAnimation img {
    width: 420px;
    height: auto;
    animation: float 3s ease-in-out infinite;
    filter: drop-shadow(0 4px 15px rgba(166, 62, 100, 0.4));
}

@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 900px) {
    .ContactSection {
        flex-direction: column;
        padding: 50px;
    }

    .ContactAnimation img {
        width: 320px;
        height: auto;
    }
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin: 50px auto;*/
    gap: 100px;
    margin-top: 50px;
}

.social-icons a {
    text-decoration: none;
    color: #a63e64;
    transition: all 0.3s ease;
}

.social-icons i {
    font-size: 60px;
    transition: all 0.3s ease;
}

.social-icons a:hover i {
    color: #d46282;
    transform: scale(1.2);
    text-shadow: 0 0 15px rgba(214, 98, 130, 0.4);
}
