body {
    background:#FDE1DF;
    min-height: 100vh;
}

/* === LOGIN BOX FIXED === */
.login{
    border: 1px solid #d46282;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    min-height: 520px;
    align-items: center;
    padding: 25px 0;
    margin-top: 40px;
    color: #d46282;
    gap: 10px;
}


.AllItems{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.LoginItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}

.input {
    width: 100%;
    height: 38px;
    border-radius: 20px;
    border: 1px solid #d46282;
    background: linear-gradient(135deg, rgba(255,255,255,0.9), rgba(245,245,245,0.6));
    color: #d46282;
    padding: 5px 15px;
    box-shadow: 0 0 8px rgba(162, 66, 100, 0.6);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    outline: none;
}

.checkboxLable{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 10px 0;
}

.lablebu{
    background:linear-gradient(135deg, #e78ca8, #d46282, #a63e64);
    width: 140px;
    height: 27px;
    color: white;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    border: 2px solid white;
}

.mainLogin{
    width: 80%;
    height: 45px;
    border-radius: 25px;
    background: linear-gradient(135deg, #e78ca8, #d46282, #a63e64);
    border: 2px solid white;
    color:white;
    font-weight:600;
    margin-top: 10px;
    cursor: pointer;
}


.facebook {
    width: 80%;
    height: 45px;
    border-radius: 25px;
    background: linear-gradient(135deg, #e78ca8, #d46282, #a63e64);
    border: 2px solid white;
    color:white;
    font-weight:600;
    display: flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    cursor:pointer;
    margin-top: 8px;
}


.facebook:hover,
.mainLogin:hover,
.lablebu:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(162,66,100,.9);
}

.login{
    animation: fadeIn 1.2s ease, floatUp 2s infinite alternate ease-in-out;
}
a{
    text-decoration: none;
}